/* 放入各个页面相同的代码 */

/* 版心 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/*快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    height: 52px;
    /* background-color: pink; */
}

.shortcut .wrapper ul {
    float: right;
}

.shortcut .wrapper ul li {
    float: left;
    line-height: 52px;
}

.shortcut .wrapper ul li a {
    padding: 0 16px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #dcdcdc;
}

.shortcut .wrapper ul li a span {
    display: inline-block;

    vertical-align: middle;

    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);

    background-position: -160px -70px;
    margin-right: 8px;
}

/* 头部 */
.header {
    margin: 30px auto;

    height: 75px;


}

.logo {
    float: left;
    margin-right: 40px;

    width: 207px;
    height: 75px;


}

/* logo 搜索引擎优化 */
.logo h1 {
    width: 207px;
    height: 75px;
}

.logo h1 a {
    display: block;
    width: 190px;
    height: 75px;

    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}



.nav {
    float: left;
    height: 75px;

}


.nav li {
    float: left;

    margin-right: 48px;
    line-height: 75px;

}

.nav li a {
    padding-bottom: 7px;
}

.nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;

}


.search {
    position: relative;

    float: left;
    margin-top: 24px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.search input {

    padding-left: 30px;
    width: 172px;
    height: 28px;


}

.search input::placeholder {

    font-size: 14px;
    color: #cccccc;
}

.search span {
    position: absolute;
    left: 2px;
    top: 4px;

    /* display: inline-block; */
    width: 18px;
    height: 18px;

    background-image: url(../images/sprites.png);
    background-position: -79px -69px;

}


.cart {
    position: relative;
    float: left;
    margin-left: 15px;
    width: 23px;
    height: 23px;
    background-color: #fff;

    margin-top: 28px;


    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.cart span {
    position: absolute;
    top: -6px;
    right: -13px;
    width: 20px;
    height: 15px;
    background-color: #e26237;

    border-radius: 8px;

    line-height: 15px;
    text-align: center;

    font-size: 13px;
    color: #fff;
}

/* 版权 */
.footer {
    height: 342px;
    background-color: #333;
}

.footer .wrapper {
    width: 1393px;
}

.footer .top {

    padding-top: 59px;
    padding-left: 135px;

    height: 175px;

    border-bottom: 2px solid #434343;

}


.footer .top li {
    position: relative;

    float: left;

    margin-right: 300px;

    width: 195px;
    height: 58px;


    line-height: 58px;

}


.footer .top li:last-child {
    margin-right: 0px;
}

/* 伪元素添加 为行内 */
.footer .top li::before {

    position: absolute;
    top: 0;
    left: 0;

    /* display: inline-block; */
    content: '';
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    vertical-align: middle;

}

.footer .top li span {

    margin-left: 77px;
    font-size: 28px;
    color: white;
    text-align: center;
}

/* 第二个li里面的before添加背景图位置 */
.footer .top li:nth-child(2)::before {
    background-image: url(../images/sprites.png);
    background-position: -64px 0;
}

.footer .top li:nth-child(3)::before {
    background-image: url(../images/sprites.png);
    background-position: -129px 0;
}

.footer .bottom {
    text-align: center;

    padding-top: 40px;
    color: #9999;
    font-size: 14px;


}

.footer .bottom a {
    color: #9999;
    font-size: 14px;
}

.footer .bottom p {
    padding-bottom: 20px;
}